## ***THEORITICAL QUESTIONS***

Q1.What are data structures, and why are they important?

ANS. Data structures are ways of organizing and storing data so that it can be accessed and manipulated efficiently.

These are important because they optimize data storage and retrieval, making it more efficient.

Example: Lists, string, Tuples etc

Q2. Explain the difference between mutable and immutable data types with examples

ANS.
MUTABLE DATA TYPES: These can be changed after creation.
eg: Lists

IMMUTABLE DATA TYPES: These cannot be changed after creation.
eg: Tuples

Q3. What are the main differences between lists and tuples in Python?

ANS. Lists are mutable while tuples are immutable.

Elements in lists can be accessed while in tuples elements cannot be accessed.

Q4.  Describe how dictionaries store data

ANS. Dictionaries store data as key-value pairs. Keys are hashed to compute an index in memory, and values are stored at that index, allowing for fast retrieval.

Q5.  Why might you use a set instead of a list in Python?

ANS. Sets are used when duplicate values are not allowed.

Q6. What is a string in Python, and how is it different from a list

ANS. A string is an immutable sequence of characters. Unlike lists, strings cannot have their elements modified.

Lists can hold any data type, while strings only hold characters.

Q7. How do tuples ensure data integrity in Python?

ANS. Tuples are immutable, means their elements cannot be altered after creation. This ensures data stored in them remains unchanged, making them useful for fixed datasets.

Q8.  What is a hash table, and how does it relate to dictionaries in Python?

ANS. A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables to store and retrieve key-value pairs efficiently.

Q9.  Can lists contain different data types in Python?

ANS. Yes, lists can hold heterogenous data type.

eg. [1, "hello", 1.14,]

Q10. Explain why strings are immutable in Python.

ANS. Strings are immutable for performance. They can be reused in memory, reducing memory usage and preventing unintended changes.

Q11. What advantages do dictionaries offer over lists for certain tasks?

ANS. A list can store any data type. In comparison, keys in the dictionary can be of any immutable data type, and values can be of any data type.

Lists perform faster for ordered operations like sorting, while dictionaries perform faster for lookup operations.

Q12. Describe a scenario where using a tuple would be preferable over a list

ANS. When storing coordinates or fixed configuration data, tuples are better because they are immutable and protect data from modification.

Q13.  How do sets handle duplicate values in Python?

ANS. Sets automatically remove duplicates.

For example,

set= ({1, 2, 2, 3]})
results =  {1, 2, 3}.

Q14. How does the “in” keyword work differently for lists and dictionaries

ANS. Lists: 'in' checks each element sequentially.

Dictionaries: 'in' checks keys using the hash table, making it faster.

Q15. Can you modify the elements of a tuple? Explain why or why not

ANS. No, tuples are immutable, so elements cannot be modified. This ensures data integrity and consistency.

Q16. What is a nested dictionary, and give an example of its use case?

ANS. A nested dictionary is a dictionary within another dictionary.

USE CASE:
students = {"Ajay": {"math": 70, "science": 80},
    "Bijay": {"math": 80, "science": 90},}

Q17. Describe the time complexity of accessing elements in a dictionary

ANS. Accessing elements in a dictionary has an average time complexity of O(1) due to hash table implementation.

Q18. In what situations are lists preferred over dictionaries?

ANS. Lists are better when:
Order matters
The data is sequential or indexed numerically
No key-value mapping is needed

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

ANS. A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

Q20.  Explain the difference between a list and a dictionary in terms of data retrieval

ANS. List: access elements by index
Dictionary: access elements by key offering more descriptive and flexible access.

# ***PRACTICAL QUESTIONS***

Q1. Write a code to create a string with your name and print it

In [ ]:
#Q1 Write a code to create a string with your name and print it

a= 'mehak'
for i in a:
  print(i)

m
e
h
a
k

In [ ]:
#Q2 Write a code to find the length of the string "Hello World"

a = "Hello World"
print(len(a))

11

In [ ]:
#Q3Write a code to slice the first 3 characters from the string "Python Programming"

a = "Python Programming"
print(a[0:3])

Pyt

In [ ]:
#Q4 Write a code to convert the string "hello" to uppercase

a = "hello"
print(a.upper())

HELLO

In [ ]:
#Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple"

a = "I like apple"
print(a.replace("apple", "orange"))

I like orange

In [ ]:
#Q6 Write a code to create a list with numbers 1 to 5 and print it

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#Q7 Write a code to append the number 10 to the list [1, 2, 3, 4]

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']
list[1]

'b'

In [ ]:
#Q10 Write a code to reverse the list [10, 20, 30, 40, 50]

list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#Q11 Write a code to create a tuple with the elements 10, 20, 30 and print it

tuple = (10, 20, 30)
print(tuple)

(10, 20, 30)

In [ ]:
#Q12 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple = ('apple', 'banana', 'cherry')
tuple[0]

'apple'

In [ ]:
#Q13 Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

tuple = (1, 2, 3, 2, 4, 2)
tuple.count(2)

3

In [ ]:
#Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

In [ ]:
#Q15 Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

Fruits = ('apple', 'orange', 'banana')
if 'banana' in Fruits:
  print("banana is in the Fruits")
else:
  print("banana is not in the Fruits")

banana is in the Fruits

In [ ]:
#Q16 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

Numbers = {1, 2, 3, 4, 5}
print(Numbers)

{1, 2, 3, 4, 5}

In [28]:
#Q17  Write a code to add the element 6 to the set {1, 2, 3, 4
numbers = {1,2,3,4}
numbers.add(6)
print(numbers)

{1, 2, 3, 4, 6}